/* User: oneBlackI - anime, preset: dataimagelinkbefore */
/* Generated: 2023-07-25T09:34:24Z */
.data.image a[href^="/anime/23273/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/3/67177.webp)}
.data.image a[href^="/anime/32553/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1992/112119.webp)}
.data.image a[href^="/anime/466/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1848/96972.webp)}
.data.image a[href^="/anime/30831/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/8/77831.webp)}
.data.image a[href^="/anime/42361/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1900/110097.webp)}
.data.image a[href^="/anime/45576/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1028/117777.webp)}
.data.image a[href^="/anime/38699/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1420/96793.webp)}
.data.image a[href^="/anime/27787/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/13/72626.webp)}
.data.image a[href^="/anime/41467/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1908/135431.webp)}
.data.image a[href^="/anime/20507/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1886/128266.webp)}
.data.image a[href^="/anime/36793/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1327/93616.webp)}
.data.image a[href^="/anime/21881/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1223/121999.webp)}
.data.image a[href^="/anime/31/"]:before{background-image:url(https://i.imgur.com/F0fZYy4.jpg)}
.data.image a[href^="/anime/27899/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1889/123307.webp)}
.data.image a[href^="/anime/50532/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1935/121274.webp)}
.data.image a[href^="/anime/49318/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1879/121719.webp)}
.data.image a[href^="/anime/21/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/6/73245.webp)}
.data.image a[href^="/anime/37450/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1301/93586.webp)}
.data.image a[href^="/anime/33674/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1085/90759.webp)}
.data.image a[href^="/anime/32900/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/8/85524.webp)}
.data.image a[href^="/anime/41487/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1033/118296.webp)}
.data.image a[href^="/anime/35507/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/5/86830.webp)}
.data.image a[href^="/anime/15323/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/5/41415.webp)}
.data.image a[href^="/anime/38040/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1638/119321.webp)}
.data.image a[href^="/anime/19815/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1074/111944.webp)}
.data.image a[href^="/anime/33487/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/12/83709.webp)}
.data.image a[href^="/anime/32937/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/2/83188.webp)}
.data.image a[href^="/anime/1575/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1032/135088.webp)}
.data.image a[href^="/anime/36896/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1736/93138.webp)}
.data.image a[href^="/anime/5112/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/5/47093.webp)}
.data.image a[href^="/anime/32105/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/12/79556.webp)}
.data.image a[href^="/anime/19759/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/8/52773.webp)}
.data.image a[href^="/anime/28999/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/12/74683.webp)}
.data.image a[href^="/anime/2904/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1088/135089.webp)}
.data.image a[href^="/anime/5114/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1208/94745.webp)}
.data.image a[href^="/anime/38408/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1412/107914.webp)}
.data.image a[href^="/anime/31964/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/10/78745.webp)}
.data.image a[href^="/anime/24833/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/5/75639.webp)}
.data.image a[href^="/anime/41587/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1911/113611.webp)}
.data.image a[href^="/anime/32311/"]:before{background-image:url(https://i.imgur.com/9ZXs1cW.jpg)}
.data.image a[href^="/anime/30503/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1689/94850.webp)}
.data.image a[href^="/anime/39551/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1271/109841.webp)}
.data.image a[href^="/anime/37956/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1237/113435.webp)}
.data.image a[href^="/anime/32182/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/8/80356.webp)}
.data.image a[href^="/anime/45572/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1719/116262.webp)}
.data.image a[href^="/anime/11757/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/11/39717.webp)}
.data.image a[href^="/anime/24991/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/7/71783.webp)}
.data.image a[href^="/anime/37377/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1439/123818.webp)}
.data.image a[href^="/anime/269/"]:before{background-image:url(https://i.imgur.com/EtS4GOk.jpg)}
.data.image a[href^="/anime/49918/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1483/126005.webp)}
.data.image a[href^="/anime/51096/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1010/124180.webp)}
.data.image a[href^="/anime/33513/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/4/84834.webp)}
.data.image a[href^="/anime/31043/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/10/77957.webp)}
.data.image a[href^="/anime/32542/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/4/79468.webp)}
.data.image a[href^="/anime/23023/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/2/84543.webp)}
.data.image a[href^="/anime/34389/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/10/83452.webp)}
.data.image a[href^="/anime/44200/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1049/115605.webp)}
.data.image a[href^="/anime/36456/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1319/92084.webp)}
.data.image a[href^="/anime/18897/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/13/75587.webp)}
.data.image a[href^="/anime/37430/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1069/123309.webp)}
.data.image a[href^="/anime/30654/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/8/77966.webp)}
.data.image a[href^="/anime/38329/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1613/102179.webp)}
.data.image a[href^="/anime/32/"]:before{background-image:url(https://i.imgur.com/ugvyqHB.jpg)}
.data.image a[href^="/anime/28405/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/12/68547.webp)}
.data.image a[href^="/anime/36215/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/10/87473.webp)}
.data.image a[href^="/anime/36950/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/8/89469.webp)}
.data.image a[href^="/anime/38000/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1286/99889.webp)}
.data.image a[href^="/anime/22319/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1498/134443.webp)}
.data.image a[href^="/anime/15809/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/3/50177.webp)}
.data.image a[href^="/anime/36726/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1462/98802.webp)}
.data.image a[href^="/anime/39565/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1019/103292.webp)}
.data.image a[href^="/anime/49877/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1745/128238.webp)}
.data.image a[href^="/anime/11887/"]:before{background-image:url(https://i.imgur.com/XtHyisg.jpg)}
.data.image a[href^="/anime/33524/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/5/80646.webp)}
.data.image a[href^="/anime/32380/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1649/98516.webp)}
.data.image a[href^="/anime/20/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/13/17405.webp)}
.data.image a[href^="/anime/31553/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1709/98068.webp)}
.data.image a[href^="/anime/39535/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1530/117776.webp)}
.data.image a[href^="/anime/40497/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1322/114329.webp)}
.data.image a[href^="/anime/121/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/10/75815.webp)}
.data.image a[href^="/anime/2759/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/7/74975.webp)}
.data.image a[href^="/anime/1735/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1565/111305.webp)}
.data.image a[href^="/anime/38793/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1230/118297.webp)}
.data.image a[href^="/anime/20785/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/11/61039.webp)}
.data.image a[href^="/anime/33486/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/12/85221.webp)}
.data.image a[href^="/anime/1535/"]:before{background-image:url(https://i.imgur.com/rB4F7Dp.jpg)}
.data.image a[href^="/anime/50265/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1441/122795.webp)}
.data.image a[href^="/anime/30/"]:before{background-image:url(https://i.imgur.com/8QyyS27.jpg)}
.data.image a[href^="/anime/40748/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1171/109222.webp)}
.data.image a[href^="/anime/32863/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1807/96939.webp)}
.data.image a[href^="/anime/41488/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1458/117607.webp)}
.data.image a[href^="/anime/20767/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/7/77177.webp)}
.data.image a[href^="/anime/430/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1707/94039.webp)}
.data.image a[href^="/anime/43683/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1447/110165.webp)}
.data.image a[href^="/anime/39607/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1672/100144.webp)}
.data.image a[href^="/anime/24227/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/2/71754.webp)}
.data.image a[href^="/anime/25397/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/4/68839.webp)}
.data.image a[href^="/anime/37510/"]:before{background-image:url(https://cdn.myanimelist.net/images/anime/1918/96303.webp)}
